# Prerequisites
*.d

# Object files and built executables
*.o
*.obj
*.ko
*.elf
*.out
*.exe
*.app

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.dylib

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Temporary or editor-specific files
*~
*.tmp
.vscode/
.idea/

# Build directories (optional, customize as needed)
/build/
/bin/
/obj/
